# --- Web Framework & API ---
fastapi==0.115.0
uvicorn[standard]==0.30.6

# --- Database Layer ---
SQLAlchemy==2.0.35
psycopg[binary]

# --- Validationi & Schemas ---
pydantic==2.9.2
pydantic-core==2.23.4

# --- HTTP requests ---
requests==2.32.3

# --- Websocket (Bybit Stream) ---
websocket-client==1.8.0

# --- Data & Time utilities ---
python-dateutil==2.9.0.post0

# --- Optional (for JSON signing & hashing) ---
h11==0.14.0

# --- Rest ---
python-multipart==0.0.9
python-dotenv==1.0.1
tzdata>=2024.1
pydantic[email]==2.9.2
requests
httpx>=0.24

# --- Push ---
pywebpush==1.14.0
py-vapid==1.8.2
cryptography>=41.0.3
